.product {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
    max-width: 250px;
    margin: 0 auto;
    transition: transform 0.3s ease;

    &__image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        border-radius: 6px;
        display: block;
        object-fit: cover;
    }

    &__name {
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #000;
        margin-bottom: 10px;
    }

    &__options {
        padding: 10px;
        background-color: #f9f9f9;
        border-radius: 6px;
        margin-bottom: 10px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
        @media (max-width: 768px) {
            padding: 8px;
        }
    }

    &__types,
    &__sizes {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;

        .product__button {
            flex: 1;
            margin: 0 4px;
        }
    }

    &__button {
        cursor: pointer;
        padding: 8px;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #2c2c2c;
        border: none;
        background-color: #edecec;
        border-radius: 4px;
        transition: all 0.3s ease;

        &-active {
            background-color: #fff;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        }

        &:hover {
            background-color: #CACACA;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        border-top: 1px solid #e5e5e5;
        margin-top: 10px;
        @media (max-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    &__price {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #000;
        @media (max-width: 768px) {
            margin-bottom: 8px;
        }
    }

    &__add-button {
        display: flex;
        align-items: center;
        background-color: #FE5F1E;
        padding: 8px 15px;
        border: none;
        border-radius: 20px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #f48f63;
        }

        &-text {
            font-weight: 600;
            font-size: 14px;
            color: #fff;
            margin-right: 5px;
        }

        &-img {
            margin-right: 5px;
        }

        @media (max-width: 768px) {
            width: 100%;
            justify-content: center;
            padding: 8px 12px;
        }
    }

    &__add-button-active {
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 8px 15px;
        border: 1px solid #eb5a1e;
        border-radius: 20px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #CACACA;
        }

        &-text {
            font-weight: 600;
            font-size: 14px;
            color: #fe5f1e;
            margin-right: 5px;
        }

        &-quantity-box {
            background-color: #fe5f1e;
            padding: 4px 8px;
            border-radius: 20px;
        }

        &-quantity {
            font-weight: 600;
            font-size: 12px;
            color: #fff;
        }
    }

    @media (max-width: 768px) {
        max-width: 80%;
    }
}
