.menu {
    position: fixed;
    right: -100%;
    top: 0px;
    width: 320px;
    overflow: hidden;
    background-color: var(--background-card);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    opacity: 0;
    transition: all 0.9s ease-in-out;

    &.active {
        height: auto;
        opacity: 1;
        right: 0px;
        transition: all 0.9s ease-in-out;
    }

    .menu-header {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
    }

    .menu-content {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .menu-item {
            margin-bottom: 10px;
            font-size: 14px;
            &-value {
                color: var(--text-secondary);
            }
            color:var(--text-secondary);
        }

        .menu-button {
            background-color: var(--background-quaternary);
            color: var(--text-static);
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            width: 100%;
            text-align: center;
        }

        .menu-button:hover {
            background-color: var(--background-senary);
        }
    }

    &-item-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    @media (max-width: 600px) {
        width: 100%;

    }
}
