.header {
    width: 100%;
    max-width: 1152px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 40px;
    &__buttons {
        display: inline-flex;
        align-items: center;
    }
    &__icon {
        margin-right: 17px;
        width: 33px;
        height: 38px;
    }

    &__title {
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: var(--text-secondary);
    }

    &__content {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: var(--text-secondary);
    }

    @media (max-width: 700px) {
        margin-bottom: 20px;

        &__content {
            margin-bottom: 10px;
        }

        &__title {
            font-size: 20px;
        }

        &__text {
            font-size: 14px;
        }
    }

    @media (max-width: 480px) {
        &__title {
            font-size: 18px;
        }

        &__text {
            font-size: 12px;
        }
    }
}

.line {
    height: 1px;
    width: 100%;
    background-color: var(--background-quinary);
    margin-bottom: 40px;

    @media (max-width: 768px) {
        margin-bottom: 20px;
    }
}
