.product__add-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--background-quaternary); 
    padding: 10px 15px;
    border: 1px solid var(var(--background-quaternary));
    border-radius: 30px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #f48f63; 
    }

    &-text {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-bg);
      margin-right: 7px;
    }

    &-img {
      margin-right: 7px;
    }
}
 