.register-container {
    background-color: var(--background-primary);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;

    @media (max-width: 600px) {
        padding: 20px;
        max-width: 90%;
    }

    .error-text {
        color: var(--text-error);
        font-size: 14px;

        @media (max-width: 600px) {
            font-size: 12px;
        }
    }

    h2 {
        margin-bottom: 20px;
        font-size: 24px;
        color: var(--text-secondary);

        @media (max-width: 600px) {
            font-size: 20px;
            margin-bottom: 15px;
        }
    }

    .register-form {
        margin-bottom: 20px;

        .form-group {
            margin-bottom: 20px;
            text-align: left;

            label {
                display: block;
                font-size: 14px;
                margin-bottom: 5px;
                color: var(--text-secondary); 

                @media (max-width: 600px) {
                    font-size: 12px;
                }
            }

            input {
                width: 100%;
                padding: 10px;
                border-radius: 8px;
                font-size: 16px;
                background-color: var(--background-primary);
                border: 1px solid var(--gray-1); 
                color: var(--text-secondary);
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
            
                @media (max-width: 600px) {
                    padding: 8px;
                    font-size: 14px;
                }
            
                &:focus {
                    box-shadow: 0 0 5px var(--background-quaternary);
                    outline: none;
                    border-color: var(--background-quaternary); 
                }
            }
        }

        .submit-button {
            width: 100%;
            padding: 15px;
            background-color: var(--background-quaternary);
            color: var(--text-static);
            border: none;
            border-radius: 30px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 700;
            transition: background-color 0.3s ease;

            @media (max-width: 600px) {
                padding: 12px;
                font-size: 14px;
            }

            &:hover {
                background-color: var(--background-senary);
            }
        }
    }

    .redirect {
        margin-top: 15px;
        font-size: 14px;
        color: var(--text-secondary); 

        @media (max-width: 600px) {
            font-size: 12px;
            margin-top: 10px;
        }

        a {
            color: var(--background-quaternary);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
